.bar {
    margin-left:3em;
    flex-direction:row;
    height: 4px;
    width: 27%;
    background-color:yellow;
}
h3{
  font-family: 'Noto Serif JP', sans-serif;
  border-bottom: 4px solid yellow;
}
body{
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
} 
ul {
  list-style-type: none;
}
  .text{
    margin-left: 1em;
  }
 
  .contactinfo{
  margin: 3em;
  }
  .bigname{
    margin: 1.3em;
    
  
    
  }
  .boys{
    position: absolute;
    left: 600px;
    top: 8px;
    
    
  }
    
   
}
  .categories {
    margin: 15px;
    
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 3em;
  }
  
  .leftcolumn {
    height: 100em;
  }
  
  .rightcolumn {
    height: 100em;
  }
  
  .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
  
  @media screen and (min-width: 800px) {
    .column {
      flex: 1
    }
  
    .double-column {
      flex: 2
    }
  }
  